/* ▼ 購入完了ページ */
.success-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

.success-title {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 8px;
}

.success-message {
    color: #555;
    margin-bottom: 40px;
    font-size: 1rem;
}

.success-card {
    max-width: 400px;
    text-align: center;
}

.success-image {
    width: 75%;
    max-width: 300px;
    margin: 0 auto 20px;
    display: block;
    border-radius: 6px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);

}

.success-card img {
    aspect-ratio: 1 / 1;
    /* 正方形 */
    object-fit: cover;
    /* 中央トリミング */
    border-radius: 10px;
    /* 角丸 */

}

.success-name {
    font-size: 1.1rem;
    margin-bottom: 4px;
}

.success-price {
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 6px;
}


.btn-back {
    display: inline-block;
    background-color: transparent;
    color: #007bff;
    border: none;
    font-weight: 600;
    text-decoration: none;
    font-size: 0.95rem;
}

.btn-back:hover {
    text-decoration: underline;
    color: #0056b3;
}